@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px;
    display: inline-block;
    transition:all 0.6s ease-out;
    
}
#menu {
    list-style-type: none;
    padding: 1%;
    background-color:#312F32;
    text-align: right;  
    
}

#menu li {

    display: inline;  
}


#menu li a{
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}

#menu li:last-child a{
    background-color: #992FAD;
    transition:all 0.6s ease-out;
    border-radius: 150px;
    
}

#rodape {
    bottom:0;
    width:100%;
    padding: 1%;
    background-color: #312F32;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;

}
a:link{
    color: white;
    text-decoration:none;

}

a:visited{
    color: white;
    text-decoration: none;
}

.login-icon{
  width: 80px;
  height: 80px;
  margin: 10px;
  display: inline-block;
  transition:all 0.6s ease-out;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 2px 0 black, 0 2px 2px 0 black;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f3f3f3;
    width: 100%;
    border: none;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    background: #992FAD;
    width: 100%;
    border: 0.5px solid black;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;

  }
  .form button:hover{
    background: #000000;
  }
  .form button:active{
    background: #000000;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #000000;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  
  }
#home {
    width: 50%;
    height: 80%;
    position: absolute;
    padding: 40px;
    padding-top: 50px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

    
}
h2{
    text-align: center;
    color: #6640B2;
    line-height: 60px;
    font-size: 50px;
}

h3{
    text-align: center;
    line-height: 60px;
    font-size: 40px;
}

p{
    line-height: 40px;
    font-size: 25px;
    text-align: justify;

}

#image img{
    max-width: 60%;
    float: right;
    margin-top: 12px;
    margin-bottom: 50px;
    display: inline-block;
    transition:all 0.6s ease-in;
}

.information{
   background-color: #992FAD;
   display: inline-block;
   padding-bottom: 50px;
}
.information > img{
  max-width: 30%;
  float: left;
  margin-left: 25px;
  margin-top: 20px;
  border-radius: 20%;
}

.information  .text{
  float: right;
  margin-top: 100px;
  margin-right: 40px;
  color: #ffffff;
  font-weight: bold;
}
.text > label{
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.text > h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.title-sobre-top{
  height: 400px;
  background-image: url('../images/c1062d4f-bf97-4e81-a354-7a0d90306528.png');
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}
.title-sobre-top > h1{
  color: #ffffff;
  font-size: 100px;
  padding-top: 120px;
  padding-bottom: 50px;
}
.title-apoie-top{
  height: 400px;
  background-image: url('../images/8a777696-0880-4094-8429-d60cb7e2d1c5.png');
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}
.title-apoie-top > h1{
  color: #ffffff;
  font-size: 100px;
  padding-top: 120px;
  padding-bottom: 50px;
}
.title-apoie-top > label{
  color: #ffffff;
  font-size: 25px;
  padding-top: 120px;
}
.title-course-top{
  height: 400px;
  background-image: url('../images/c1062d4f-bf97-4e81-a354-7a0d90306528.png');
}
.title-course-top > h1{
  color: #ffffff;
  font-size: 100px;
  padding-top: 120px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #992FAD;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.course{
  background-color: #992FAD;
  display: inline-block;
  border-radius: 30px 30px 30px 30px;
  padding-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}
.course-img{
  background-color: #ffffff;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
  border-radius: 30px 30px 30px 30px;
}

.course-img > img{
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.course > .text{
 float: right;
 margin-top: 100px;
 margin-right: 40px;
 color: #ffffff;
 font-weight: bold;
}
.course .text label{
 font-size: 22px;
 font-family: Arial, Helvetica, sans-serif;
 font-style: normal;
}
.ranking{
  padding-bottom: 50px;
  padding-top: 50px;
  background-image: url('../images/e50b969f-bc0f-4146-a8eb-e7d3e7df4d33.png');
}
.top-10{
  max-width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #b3b3b3;
  border-radius: 30px 30px 30px 30px;
  opacity: 70%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.top-10 > h1{
  font-size: 80px;
}
.top-10 > label{
  font-size: 22px;
}

.brinds{
  margin-left: 230px;
  margin-bottom: 50px;
}

.brind{
  width: 300px;
  background-color: #992FAD;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

.brind > img{
  width: 70px;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 70px;
}
.devs{
  margin-left: 50px;
  margin-bottom: 50px;
}

.dev{
  width: 300px;
  background-color: #992FAD;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

.dev > img{
  width: 150px;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 70px;
}
.contribua{
  margin-left: 30px;
  margin-bottom: 50px;
}
.nubank{
  display: inline-block;
  margin-left: 470px;
  margin-right: 120px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.mercado-pago{
  display: inline-block;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.nubank > img{
  width: 250px;
  margin-bottom: 20px;
}
.mercado-pago > img{
  width: 250px;
  margin-bottom: 20px;
}

#start {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #992FAD;
    transition:all 0.6s ease-out;
    text-decoration: none;
    border: 1px#992FAD;
    border-radius: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
}

.redes img{
  max-width: 70px;
  max-height: 70px;
  padding-top: 20px;
}

h5{
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 15px;
  font-size: 20px;
}

.table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: 50px;
}
td, th{
  padding: 15px;
  border: 1px solid #e1e1e1;
}

tbody tr:nth-child(odd){
  background: #e6e6e6;
}

.about{
  background-color: #992FAD;
  display: inline-block;
  padding-bottom: 50px;
}
.about > img{
 max-width: 30%;
 float: left;
 margin-left: 25px;
 margin-top: 20px;
}

.about > .about-text{
 float: right;
 margin-top: 60px;
 margin-right: 100px;
 color: #ffffff;
 font-weight: bold;
}
.about-text > label{
 font-size: 22px;
 font-family: Arial, Helvetica, sans-serif;
 font-style: normal;
}

.about-text > h5{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 50px;
}
@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20%);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10%);
  }
}
.linkedin:hover{
  animation: bounce 1s;
}
.github:hover{
  animation: bounce 1s;
}