@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px;
    display: inline-block;
    transition:all 0.6s ease-out;
    
}
#menu {
    list-style-type: none;
    padding: 1%;
    background-color:#312F32;
    text-align: right;  
    
}

#menu li {

    display: inline;  
}


#menu li a{
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}

#menu li:last-child a{
    background-color: #992FAD;
    transition:all 0.6s ease-out;
    border-radius: 150px;
    
}

#rodape {
    position: fixed;
    bottom:0;
    width:100%;
    padding: 1%;
    background-color: #312F32;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;

}
a:link{
    color: white;
    text-decoration:none;

}

a:visited{
    color: white;
    text-decoration: none;
}

.login-icon{
  width: 80px;
  height: 80px;
  margin: 10px;
  display: inline-block;
  transition:all 0.6s ease-out;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 2px 0 black, 0 2px 2px 0 black;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f3f3f3;
    width: 100%;
    border: none;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    background: #992FAD;
    width: 100%;
    border: 0.5px solid black;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;

  }
  .form button:hover{
    background: #000000;
  }
  .form button:active{
    background: #000000;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #000000;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  
  }
#home {
    width: 50%;
    height: 80%;
    position: absolute;
    padding: 40px;
    padding-top: 50px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

    
}
h2{
    text-align: center;
    color: #6640B2;
    line-height: 60px;
    font-size: 50px;
}

h3{
    text-align: center;
    line-height: 60px;
    font-size: 40px;
}

p{
    line-height: 40px;
    font-size: 25px;
    text-align: justify;

}

#image img{
    max-width: 60%;
    float: right;
    margin-top: 12px;
    display: inline-block;
    transition:all 0.6s ease-in;
}

.information{
   
}

#start {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #992FAD;
    transition:all 0.6s ease-out;
    text-decoration: none;
    border: 1px#992FAD;
    border-radius: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
}

.redes img{
  max-width: 70px;
  max-height: 70px;
  padding-top: 20px;
}

h5{
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 15px;
  font-size: 20px;
}

